<center>
<img src="images/logo.png" alt="logo" style="width: 200px;"/>
<br>

<center> <font size=6 style='bold font-family: var(--Abel);'>Bahir Dar University </font> </center>
<br>
<center> <font size=6 style='bold font-family:--Abel;'>Bahir Dar Institute of Technology</font> </center>
<br>
<br>
<br>

<center> <font size=6 style='bold' color='blue'>Python Basics</font> </center>

<br>
<br>

<center> <font size=6 style='bold font-family:Abel'>Eyaya Birara, Eneyew (eyayab21@gmail.com) </font> </center>
<br>

<center> <font size=6 style='bold font-family:Abel'>March 29 - April 08, 2021</font> </center>
<br>
<center> <font size=6 style='bold font-family:Abel'>Organized By:<font size=6 style='bold font-family:Abel' color='blue'> CIMPA and AMU</font> </font> </center>
</center>

<h1> Introduction </h1>

**Python** is an object-oriented programming language that is designed in C. By nature, it is a high-level programming language that allows for the creation of both simple as well as complex operations. Along with this Python comes inbuilt with a wide array of modules as well as libraries which allows it to support many different programming languages like Java, C, C++, and JSON.

**Python** is a dynamic, high level, free open source and interpreted programming language. It supports object-oriented programming as well as procedural oriented programming. 

In Python, we don’t need to declare the type of variable because it is a **dynamic typed programming language**.
For example, 

```python
x=10
```
here x can be anything such as String, int etc.

<h2>Features of Python</h2>

<p>Python provides lots of features that are listed below.</p>


**1. Easy to Learn and Use**
<p>Python is easy to learn and use. It is developer-friendly and high level programming language.</p>

**2. Expressive Language**
<p> Python language is more expressive means that it is more understandable and readable.</p>

**3. Interpreted Language**
<p> Python is an interpreted language i.e. interpreter executes the code line by line at a time. This makes debugging easy and thus suitable for beginners.</p>

**4. Cross-platform Language**
<p>Python can run equally on different platforms such as Windows, Linux, Unix and Macintosh etc. So, we can say that Python is a portable language.</p>

**5. Free and Open Source**
<p> Python language is freely available at <a href="https://www.python.org/" rel="nofollow" target="blank">https://www.python.org</a>.The source-code is also available. Therefore it is open source.</p>

**6. Object-Oriented Language**
<p> Python supports object oriented language and concepts of classes and objects come into existence.</p>

**7. Extensible** 
<p>It implies that other languages such as C/C++ can be used to compile the code and thus it can be used further in our python code.</p>

**8. Large Standard Library**
<p>Python has a large and broad library and prvides rich set of module and functions for rapid application development. </p>

**9. GUI Programming Support**
<p>Graphical user interfaces can be developed using Python.</p>

**10. Integrated**
<p> It can be easily integrated with languages like C, C++, JAVA etc.</p>

<h2>Python version</h2>

There are two version of the Python language out there: Python 2.x and Python 3.x. They are (slightly) different — the changes in Python 3.x were introduced to address shortcomings in the design of the language that were identified since Python’s inception. A decision was made that some incompatibility should be accepted to achieve the higher goal of a better language for the future.

For scientific computation, it is crucial to make use of numerical libraries such as [numpy](http://numpy.scipy.org/), [scipy](http://www.scipy.org) and the plotting package [matplotlib](http://matplotlib.sourceforge.net/).

All of these are now available for Python 3, and we will use Python 3.x in this training.

However, there is a lot of code still in use that was written for Python 2, and it's useful to be aware of the differences. The most prominent example is that in Python 2.x, the `print` command is special, whereas in Python 3 it is an ordinary function. For example, in Python 2.7, we can write:

```python
print "Hello World"
```

In [1]:
print ("Hello")

Hello

**Wait! How do we get started? before we dive into Python Programming**

First we need to install python.
1. **Windows:**
   goto <a>http://anaconda.org</a> download and install it follwing the GUI.
2. **Linux:**
    open a ternimal and type 
    ```python
        apt-get install python3
    ```
    
Once we install python the next step is to start the python interpreter. There are three ways to start and use python:

1. **Interactive Mode Programming**
2. **Script Mode Programming**
3. **Integrated Development Environment (IDE)**

In this training we are using the Jupyter Notebook IDE

<h1 style=bold>Part-1: Python Basics</h1>
<h2 style=bold> Python Syntax </h2>

Door to learn any language, not only technical but any language in general, one has to have strong command on its <b>grammar</b>. Grammar in a technical scenario means <b>syntax</b>.

Today, we will learn about the Python syntax in which, we will see what is Python syntax and how it is different from other programming lagueges such as Java and C++. 

After completing this section, you will be able to identify and debug Python syntax. So, let’s first understand what is Python Syntax with the help of example.

The term syntax is referred to a set of rules and principles that describes the structure of a language. The Python syntax defines all the set of rules that are used to create sentences in Python programming. <b>For example –</b>  we have to learn grammar when we want to learn the English language. In the same way, you will need to learn and understand the Python syntax in order to learn the Python language.

<font size=4> __Example of Python Syntax__ </font>

Python is a popular language because of its elegant syntax structure. Let’s take a quick look at a simple Python program and you will get an idea of how programming in Python looks like.

In [1]:
x=10
print("Hello",x)
print("python's course")
print(" This is a python course")


x = input("please enter a number")
print(x)

Hello 10
python's course
 This is a python course
please enter a number7
7

In [2]:
type(x)

str

In [3]:
#Simple Python Program to see if a user is eligible to vote or not.
# getting user’s name 
print("Enter your name:")
name = input()
# getting user’s age
print("Enter your age:")
age = int(input())
# condition to check if user is eligible to vote or not
if( age >= 18 ):
    print( name, ' is eligible to vote.')
    print("Hey there")
else:
    print( name, ' is not eligible to vote.')
    print("good bye")

Enter your name:
a
Enter your age:
12
a  is not eligible to vote.
good bye

*Now! Let us see various structures in Python syntax that are used while doing programming in Python.*

<h3>Types of Syntax Structures in Python</h3>

<h4>Python Line Structure </h4>
    
    
A Python program comprises logical lines. A NEWLINE token follows each of those. The interpreter ignores blank lines.

The following line causes an error.

In [7]:
print("Hi,
      How are you")

SyntaxError: EOL while scanning string literal (<ipython-input-7-27243e4870aa>, line 1)

<h4> Python Multiline Statements </h4>

This one is an important Python syntax. We saw that Python does not mandate semicolons. A new line means a new statement. But sometimes, you may want to split a statement over two or more lines. It may be to aid readability. You can do so in the following ways.

**1. Use a backward slash**

In [6]:
print("Hi, \
How are you")

Hi, How are you

You can also use it to distribute a statement without a string across lines.

In [8]:
a\
=\
10

In [9]:
print(a)

10

**2. Put the String in Triple Quotes**

In [10]:
print("""Hi,
How are you""")

Hi,
How are you

However, you can’t use backslashes inside a docstring for statements that aren’t a string.

In [16]:
"""b\
=\
10"""

'b=10'

In [17]:
print(b)

NameError: name 'b' is not defined

<h4> Python Comments</h4>

Python Syntax **‘Comments’** let you store tags at the right places in the code. You can use them to explain complex sections of code. The interpreter ignores comments. Declare a comment using an octothorpe (#).

In [18]:
# This is a comment
# This is a second comment
x =3
print(x)

3

Python does not support general multiline comments like **Java** or **C++**.

<h4> Python Docstrings</h4>

A docstring is a documentation string. As a comment, this Python Syntax is used to explain code. But unlike comments, they are more specific. Also, they are retained at runtime. This way, the programmer can inspect them at runtime. Delimit a docstring using three double-quotes. You may put it as a function’s first line to describe it.

In [11]:
def f(x):
    """
     This function returns square of a number
     this is the third comment
    """
    return x**2

In [12]:
f(3)     #function call to f by passing a value of 3

9

In [14]:
f.__doc__

'\n     This function returns square of a number\n     this is the third comment\n    '

In [13]:
abs.__doc__

'Return the absolute value of the argument.'

<h4> Python Indentation </h4>
    
Since Python doesn’t use curly braces to delimit blocks of code, this Python Syntax is mandatory. You can indent code under a function, loop, or class.

In [15]:
θ = 3
if θ >1:
  print("2 is the bigger person")
  print('it does not mean that 1 is worthless')
else:
    print("1 is worthless")
print("Hello")

2 is the bigger person
it does not mean that 1 is worthless
Hello

You can indent using a number of tabs or spaces, or a combination of those. But remember, indent statements under one block of code with the same amount of tabs and spaces.

In [36]:
if 2 >1:
    print("2 is the bigger person")
    print('it doe not mean that 1 is worthless')

2 is the bigger person
it doe not mean that 1 is worthless

<h4> Python Multiple Statements in One Line</h4>

You can also fit in more than one statement on one line. Do this by separating them with a semicolon. But you’d only want to do so if it supplements readability

In [16]:
a=10; print(a)

10

<h4>Python Quotations</h4>

Python supports the single quote and the double quote for string literals. But if you begin a string with a single quote, you must end it with a single quote. The same goes for double-quotes.

The following string is delimited by single quotes.

In [39]:
print('We need to keep our social-distancing')

We need to keep our social-distancing

This string is delimited by double-quotes.

In [40]:
print('We need to keep our "social-distancing"')

We need to keep our "social-distancing"

In [17]:
print("Jacky's jacket")

Jacky's jacket

Notice how we used single quotes around the word social-distancing in the string? If we used double quotes everywhere, the string would terminate prematurely.

In [96]:
print("We need to keep our "social-distancing"")

SyntaxError: invalid syntax (<ipython-input-96-e32f991d777b>, line 1)

<h4>Python Blank Lines</h4>

If you leave a line with just whitespace, the interpreter will ignore it.

In [18]:
a =5 


print(a**2)

25

<h4>Python Identifiers</h4>

An identifier is a name of a program element, and it is **user-defined**. This Python Syntax uniquely identifies the element. There are some rules to follow while choosing an identifier:

<ol>
    <li>An identifier may only begin with A-Z, a-z, or an underscore(_).</li>
    <li>This may be followed by letters, digits, and underscores- zero or more.</li>
    <li>Python is case-sensitive. Name and name are two different identifiers.</li>
    <li>A reserved keyword may not be used as an identifier. The following is a list of keywords.</li>
</ol>

In [19]:
university ='BDU' 
print(university)
University = "BDU1"
print(University)

BDU
BDU1

In [20]:
a = 10

print(A)

NameError: name 'A' is not defined

In [4]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Apart from these rules, there are a few naming conventions that you should follow while using this Python syntax:

<ol>
    <li>Use uppercase initials for class names, lowercase for all others.</li>
    <li>Name a private identifier with a leading underscore ( _username)</li>
    <li>Name a strongly private identifier with two leading underscores ( __password)</li>
    <li>Special identifiers by Python end with two leading underscores.</li>
<ol>

<h4> Python Variables</h4>

In Python, you don't define the type of the variable. It is assumed on the basis of the value it holds.

In [21]:
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [6]:
x = 'Python'

print(x)
print(type(x))

Python
<class 'str'>

Here, we declared a variable x and assigned it a value of 10. Then we printed its value. Next, we assigned it the value ‘Hello’ and printed it out. So, we see, a variable can hold any type of value at a later instant. Hence, Python is a **dynamically-typed language**.

So, this was all about Python Syntax. I hope you will practice and dig deeper to have a better understanding of python syntax.
<br>
<br>

<center> <font color=green size=8> Any Questions?</font></center>

<h2>Variables and Data Types </h2>

In this section, we will learn about Python variables and data types being used in Python. Since we know that Python is a dynamically-typed language, we don’t specify the type of a variable when declaring one.

We will also learn about converting one data type to another in Python and local and global variables in Python. So, let's begin with Python variables and data types Tutorial.

A variable is a container for a value. It can be assigned a name, you can use it to refer to it later in the program. Based on the value assigned, the interpreter decides its data type. You can always store a different type in a variable.

For example, if you store 7 in a variable, later, you can store 'python'

<h3> Python Variables Naming Rules </h3>

There are certain rules to what you can name a variable(called an identifier).

**1. Python variables can only begin with a letter(A-Z/a-z) or an underscore(_).**

In [7]:
9lives=9

SyntaxError: invalid syntax (<ipython-input-7-f1bccf0d8d21>, line 1)

In [60]:
flag=0
flag

0

In [61]:
_9lives = "cat"
_9lives

'cat'

**2. The rest of the identifier may contain letters(A-Z/a-z), underscores(_), and numbers(0-9).**

In [62]:
year1='freshman'
year1

'freshman'

**3. Python does not allow special characters such as** @, $, and %

In [63]:
_$$=7

SyntaxError: invalid syntax (<ipython-input-63-542a5cb5edcc>, line 1)

**4. Python is case-sensitive, and so are Python identifiers.** Name and name are two different identifiers.

In [8]:
name="Ayushi"
name

'Ayushi'

In [9]:
Name

NameError: name 'Name' is not defined

**5. Reserved words (keywords) cannot be used as identifier names.**

In [111]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

<h4>Assigning and Reassigning Python Variables</h4>

To assign a value to Python variables, you don’t need to declare its type. You name it according to the rules stated above, and type the value after the equal sign(=).

In [69]:
age = 18
print(age)

18

In [38]:
age = "Abebe"
print(age)

Abebe

However, age=Abebe doesn’t make sense. Also, you cannot use Python variables before assigning it a value.

You can’t put the identifier on the right-hand side of the equal sign, though. The following code causes an error.

In [44]:
7 = age

SyntaxError: cannot assign to literal (<ipython-input-44-c71f3f6e5f23>, line 1)

Neither can you assign Python variables to a keyword.

In [45]:
False=choice

SyntaxError: cannot assign to False (<ipython-input-45-63ae5ea0091b>, line 1)

<h4>Multiple Assignment</h4>
You can assign values to multiple Python variables in one statement.

In [46]:
a = b = c =10

In [47]:
a

10

In [48]:
b

10

In [49]:
c

10

In [50]:
age,city=18,'Bahir Dar'
print(age,city)

18 Bahir Dar

Or you can assign the same value to multiple Python variables.

In [51]:
age=fav=7
print(age,fav)

7 7

<h4>Swapping Variables</h4>
Swapping means interchanging values. To swap Python variables, you don’t need to do much.

In [52]:
a,b='red','blue'

print(a,b)
a,b=b,a #swapping the two values
print(a,b)

red blue
blue red

In [53]:
a =4
b=5

c=a
b=a
a=b

<h4>Deleting Variables</h4>
You can also delete Python variables using the keyword ‘del’.

In [54]:
a='red'
del a

In [55]:
a

NameError: name 'a' is not defined

In [56]:
d =20

In [57]:
print(d)

20

In [58]:
e=-20

In [59]:
print(hello)

NameError: name 'hello' is not defined

In [60]:
print(e)

-20

<h3> Python Data Types </h3>

Although we don’t have to declare a type for Python variables, a value does have a type. This information is vital to the interpreter. Python supports the following Python data types.

<h3> 1. Python Numbers</h3>
There are four numeric Python data types.
<h4>1.1. int </h4>
int stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [61]:
x = -3
type(x)

int

An integer can be of any length, with the only limitation being the available memory.

In [62]:
y = 4+4j
type(y)

complex

In [63]:
a = 2**10000

In [64]:
type(a)

int

<h4> 1.2. float</h4>

This Python Data Type holds floating-point real values. An int can only store the number 3, but float can store 3.25 if you want.

In [65]:
x = 3.0
type(x)

float

In [66]:
3/4

0.75

In [67]:
5//2.0

2.0

<h4> 1.3. long</h4>

This Python Data type holds a long integer of unlimited length. But this construct does not exist in Python 3.x.

<h4> 1.4. complex</h4>

This Python Data type holds a complex number. A complex number looks like this: **a+bj** Here, **a** and **b** are the real numbers, **a** is the real part of the number, and **bj** is imaginary.

In [68]:
a = 3 - 5j

type(a)

complex

In [69]:
x.conjugate?

Use the **isinstance()** function to tell if Python variables belong to a particular class. It takes two parameters- the variable/value, and the class.

In [70]:
isinstance(a,complex)

True

<h3> 2. String</h3>
A string is a sequence of characters. Python does not have a char data type, unlike C++ or Java. You can delimit a string using single quotes or double-quotes.

In [71]:
city = "Bahir Dar"

type(city)

str

<h4> 2.1. Spanning a String Across Lines </h4>

To span a string across multiple lines, you can use triple quotes.

In [72]:
var = """If   
only"""

var

'If   \nonly'

As you can see, the quotes preserved the formatting (\n is the escape sequence for newline, \t is for tab).

In [73]:
print("This is a \t python \n training")

This is a 	 python
 training

<h4> 2.2. Displaying Part of a String </h4>

You can display a character from a string using its index in the string. Remember, indexing starts with 0.

In [74]:
s = "introduction To python"
s[:14]

'introduction T'

In [75]:
s[3:7:2]

'rd'

In [76]:
s

'introduction To python'

<h4> 2.3. String Concatenation</h4>

You can concatenate(join) strings.

In [77]:
a='10'
b='20'
print(b+a)

2010

In [78]:
a.

SyntaxError: invalid syntax (<ipython-input-78-b4ce96ddcee0>, line 1)

However, you cannot concatenate values of different types.

In [79]:
print('10' + "10")

1010

<h4> Python String Formatters</h4>

Now let us see the different types of String formatters in Python:

**1. % Operator**

You can use the % operator to format a string to contain text as well as values of identifiers. Use %s where you want a value to appear. After the string, put a % operator and mention the identifiers in parameters.

In [80]:
x=15;  printer="SANS-Printer"
#print("I just printed "+ str(x)+ " pages to the printer " + "SANS-Printer")
print("I just printed %d pages to the printer %s" % (x, printer))

I just printed 15 pages to the printer SANS-Printer

**2. Format Method**

The format method allows you to format a string in a similar way. At the places, you want to put values, put 0,1,2,.. in curly braces. Call the format method on the string and mention the identifiers in the parameters.

In [81]:
import numpy as np

In [82]:
np.pi

3.141592653589793

In [83]:
print("Here are %0.20f digists of pi" %(np.pi))

Here are 3.14159265358979311600 digists of pi

In [84]:
y = "Dr. Dawit"
print("{2} just printed {0} pages to the printer {1}".format(x, printer,y))

Dr. Dawit just printed 15 pages to the printer SANS-Printer

You can also use the method to print out identifiers that match certain values.

In [85]:
print("I  just printed {x} pages to the printer {printer}".format(x=8, printer='HP'))

I  just printed 8 pages to the printer HP

**3. f-strings**

If you use an f-string, you just need to mention the identifiers in curly braces. Also, write ‘f’ right before the string, but outside the quotes used.

In [86]:
print(f"I just printed {x} pages to the printer {printer}")

I just printed 15 pages to the printer SANS-Printer

<h3> 3. Python Lists</h3>

A list is a collection of values. Remember, it may contain different types of values. To define a list, you must put values separated with commas in square brackets. You don’t need to declare a type for a list either.

In [87]:
days=['Monday',    'Firday',5,6,7,8,["June", "july"]]

In [88]:
days[-1]

['June', 'july']

<h4>3.1. Slicing a List</h4>

You can slice a list the way you’d slice a string- with the slicing operator.

In [89]:
days[1:3]

['Firday', 5]

Indexing for a list begins with 0, like for a string. A Python doesn’t have arrays.

In [90]:
s = "Hello world"

In [91]:
len(s) # will return the lenght of the string s or the number of characters in s

11

<h4> 3.2. Length of a List </h4>

Python supports an inbuilt function to calculate the length of a list.

In [92]:
len(days)

7

<h4>3.3. Reassigning Elements of a List</h4>

A list is mutable. This means that you can reassign elements later on.

In [93]:
days

['Monday', 'Firday', 5, 6, 7, 8, ['June', 'july']]

In [94]:
days[2:4]=['Wednesday','Thursday']

In [95]:
y = days+[10]

In [96]:
days.append(10)

In [97]:
days.insert(5,"Python")

In [98]:
days.append([30,40,50])

In [99]:
days

['Monday',
 'Firday',
 'Wednesday',
 'Thursday',
 7,
 'Python',
 8,
 ['June', 'july'],
 10,
 [30, 40, 50]]

<h4> 3.4. Iterating on the List</h4>

To iterate over the list we can use the for loop. By iterating, we can access each element one by one which is very helpful when we need to perform some operations on each element of list.

In [100]:
range(10)

range(0, 10)

In [101]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
nums = [1,2,5,6,8]
for n in nums:
    print(n**2)

1
4
25
36
64

In [103]:
type(nums)

list

<h3> 4. Python Tuples</h3>

A tuple is like a list. You declare it using parentheses instead.

In [104]:
subjects = ('Mathematics','Physics','Chemistry',[2,34])
subjects

('Mathematics', 'Physics', 'Chemistry', [2, 34])

In [105]:
type(subjects)

tuple

<h4> 4.1. Accessing and Slicing a Tuple</h4>

You access a tuple the same way as you’d access a list. The same goes for slicing it.

In [106]:
subjects[1]

'Physics'

In [107]:
subjects[0:2]

('Mathematics', 'Physics')

<h4>A tuple is Immutable</h4>

However, Python tuple is immutable. Once declared, you can’t change its size or elements.

In [108]:
subjects[2]='Biology'

TypeError: 'tuple' object does not support item assignment

<h3>5. Dictionaries</h3>

A dictionary holds key-value pairs. Declare it in curly braces, with pairs separated by commas. Separate keys and values by a colon(:).

In [109]:
person = {'name':'Abebe','age':19,'city':'Bahir Dar'}

In [110]:
person

{'name': 'Abebe', 'age': 19, 'city': 'Bahir Dar'}

The type() function works with dictionaries too.

In [111]:
type(person)

dict

<h4>5.1. Accessing a Value</h4>

To access a value, you mention the key in square brackets.

In [112]:
person['city']="Addis Ababa"

In [113]:
p1 = person

In [114]:
p2 = {}
p2["name"]="Bekele"

In [115]:
p2["age"] =25
p2["city"] = "Gonder"

In [116]:
p2

{'name': 'Bekele', 'age': 25, 'city': 'Gonder'}

<h4>5.2. Reassigning Elements</h4>

You can reassign a value to a key.

In [117]:
person['age']=21
person['age']

21

<h3>5.3. List of Keys</h3>

Use the keys() function to get a list of keys in the dictionary.

In [118]:
person.keys()

dict_keys(['name', 'age', 'city'])

In [119]:
person.values()

dict_values(['Abebe', 21, 'Addis Ababa'])

<h2> Type Conversion </h2>

Since Python is dynamically-typed, you may want to convert a value into another type. Python supports a list of functions for the same.

**1. int()**

It converts the value into an int.

In [120]:
int(3.7)

3

Notice how it truncated 0.7 instead of rounding the number off to 4. You can also turn a Boolean into an int.

In [121]:
float(True)

1.0

In [122]:
int(False)

0

However, you cannot turn a string into an int. It throws an error.

In [123]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [124]:
e = "77"
type(e)

str

In [125]:
a=int("77")
type(a)

int

**2. float()**

It converts the value into a float.

In [126]:
float(7)

7.0

In [127]:
float(True)

1.0

In [17]:
float("11")

11.0

In [36]:
3e-1   #3*10**-1

0.3

In [37]:
1e3

1000.0

You can also use ‘e’ to denote an exponential number.

In [56]:
float("2.1e-2")

0.021

In [38]:
int(2.1e-2)

0

However, this number works even without the float() function.

In [20]:
2.1e-2

0.021

**3. str()**

It converts the value into a string.

In [59]:
str(2.1)

'2.1'

In [22]:
str(7)

'7'

In [60]:
str(True)

'True'

You can also convert a list, a tuple, a set, or a dictionary into a string.

In [61]:
str([1,2,3])

'[1, 2, 3]'

**3. list()**

It converts the value into a list.

In [100]:
list("1223")

['1', '2', '2', '3']

In [98]:
L = [1,2,2,3]

In [99]:
L

[1, 2, 2, 3]

In [101]:
list({1,2,2,3,1,1,1})

[1, 2, 3]

In [102]:
D = {"a":1,"b":2}
D.keys()

dict_keys(['a', 'b'])

In [107]:
l=list(D)

In [108]:
for i in l:
    print(D[i])

1
2

However, the following raises an error.

In [40]:
{a:1,b:2}

NameError: name 'b' is not defined

**4. tuple()**

It converts the value into a tuple.

In [31]:
tuple({1,2,2,3})

(1, 2, 3)

You can try your own combinations. Also try composite functions.

<h2> Python Operators </h2>
Python Operator falls into 7 categories:
<ul>
    <li>Python Arithmetic Operator</li>
    <li>Python Relational Operator</li>
    <li>Python Assignment Operator</li>
    <li>Python Logical Operator</li>
    <li>Python Membership Operator</li>
    <li>Python Identity Operator</li>
    <li>Python Bitwise Operator</li>
</ul>

<h3> Python Arithmetic Operator</h3>

These Python arithmetic operators include Python operators for basic mathematical operations.

**a. Addition(+)**

Adds the values on either side of the operator.

In [46]:
3+4

7

**b. Subtraction(-)**

Subtracts the value on the right from the one on the left.

In [47]:
3-4

-1

**c. Multiplication(*)**

Multiplies the values on either side of the operator.

In [48]:
3*4

12

**d. Division(/)**

Divides the value on the left by the one on the right. Notice that division results in a floating-point value.

In [62]:
3/4

0.75

In [63]:
4/0

ZeroDivisionError: division by zero

__e. Exponentiation(**)__

Raises the first number to the power of the second.

In [51]:
3**4

81

**f. Floor Division(//)**

Divides and returns the integer value of the quotient. It dumps the digits after the decimal.

In [52]:
3//4

0

In [53]:
4//3

1

In [54]:
10//3

3

**g. Modulus(%)**

Divides and returns the value of the remainder.

In [55]:
3%4

3

In [56]:
4%3

1

In [57]:
10%3

1

In [58]:
10.5%3

1.5

<h3>Python Relational Operator</h3>

**Relational Python Operator** carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those.

**a. Less than(<)**

This operator checks if the value on the left of the operator is lesser than the one on the right.

In [69]:
3<4

True

**b. Greater than(>)**

It checks if the value on the left of the operator is greater than the one on the right.

In [70]:
3>4

False

**c. Less than or equal to(<=)**

It checks if the value on the left of the operator is lesser than or equal to the one on the right.

In [71]:
0>=0

True

**e. Equal to(= =)**

This operator checks if the value on the left of the operator is equal to the one on the right. 1 is equal to the Boolean value True, but 2 isn’t. Also, 0 is equal to False.

In [111]:
3==3.0

True

In [112]:
1==True

True

In [113]:
7==True

False

In [114]:
0==False

True

**f. Not equal to(!=)**

It checks if the value on the left of the operator is not equal to the one on the right. The Python operator <> does the same job, but has been abandoned in Python 3.

When the condition for a relative operator is fulfilled, it returns True. Otherwise, it returns False. You can use this return value in a further statement or expression.

In [115]:
1!=1.0

False

In [117]:
a = 1
b = 1.0

In [118]:
a is b

False

<h3>Python Assignment Operator</h3>

An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it. We have 8 assignment operators- one plain, and seven for the 7 arithmetic python operators.

**a. Assign(=)**

Assigns a value to the expression on the left. Notice that = = is used for comparing, but = is used for assigning.

In [119]:
a = 6
print(a)

6

**b. Add and Assign(+=)**

Adds the values on either side and assigns it to the expression on the left. $a+=10$ is the same as $a=a+10$.

The same goes for all the next assignment operators.

In [120]:
a += 2 # a = a + 2
print(a)

8

**c. Subtract and Assign(-=)**

Subtracts the value on the right from the value on the left. Then it assigns it to the expression on the left.

In [121]:
a -= 2 
print(a)

6

**d. Divide and Assign(/=)**

Divides the value on the left by the one on the right. Then it assigns it to the expression on the left.

In [122]:
a/=6
print(a)

1.0

**e. Multiply and Assign(*=)**

Multiplies the values on either sides. Then it assigns it to the expression on the left.

In [123]:
a *= 8
print(a)

8.0

**f. Modulus and Assign(%=)**

Performs modulus on the values on either side. Then it assigns it to the expression on the left.

In [125]:
a %=3
print(a)

2.0

__g. Exponent and Assign(**=)__

Performs exponentiation on the values on either side. Then assigns it to the expression on the left.

In [126]:

a**=5 

print(a)

32.0

**h. Floor-Divide and Assign(//=)**

Performs floor-division on the values on either side. Then assigns it to the expression on the left.

In [131]:
a //=3
print(a)

0.0

<h3>Python Logical Operator</h3>

These are conjunctions that you can use to combine more than one condition. We have three Python logical operator – and, or, and not that come under python operators.

**a. and**

If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [132]:
a = 7>7 and 2>-1 

print(a)

False

**b. or**

The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [133]:
a =7>7 or 2>-1 

print(a)

True

‘and’ returns the first False value or the last value; ‘or’ returns the first True value or the last value

**c. not**

This inverts the Boolean value of an expression. It converts True to False, and False to True. As you can see below, the Boolean value for 0 is False. So, not inverts it to True.

In [134]:
a=not(0)
print(a)

True

In [135]:
not(9>10)

True

<h3>Membership Python Operator</h3>

These operators test whether a value is a member of a sequence. The sequence may be a list, a string, or a tuple. We have two membership python operators- ‘in’ and ‘not in’.

**a. in**

This checks if a value is a member of a sequence. In our example, we see that the string ‘fox’ does not belong to the list pets. But the string ‘cat’ belongs to it, so it returns True. Also, the string ‘me’ is a substring to the string ‘disappointment’. Therefore, it returns true.

In [136]:
pets=['dog','cat','ferret']
'fox' in pets

False

In [137]:
'cat' in pets

True

In [139]:
'mee' in 'disappointment'

False

**b. not in**

Unlike ‘in’, ‘not in’ checks if a value is not a member of a sequence.

In [140]:
'poi' not in 'disappointment'

False

<h3>Python Identity Operator</h3>

Let us proceed towards identity Python Operator.

These operators test if the two operands share an identity. We have two identity operators- ‘is’ and ‘is not’.

**a. is**

If two operands have the same identity, it returns True. Otherwise, it returns False. Here, 2 is not the same as 20, so it returns False. Also, ‘2’ and “2” are the same. The difference in quotes does not make them different. So, it returns True.

In [141]:
2 is 20

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-141-aa5903f4fe8e>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 20

False

In [142]:
'2' is "2"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-142-f9112cad866e>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  '2' is "2"

True

**b. is not**

2 is a number, and ‘2’ is a string. So, it returns a True to that.

In [143]:
2 is not '2'

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-143-9f9059803d53>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  2 is not '2'

True

<h3>Python Operator Precedence</h3>
You sure have heard about **BODMAS** somewhere in your journey so far (mathematics, school). In Python, however, we come across **PEDMAS**:
<ul>
    <li>Parentheses</li>
<li>Exponentiation</li>
<li>Division</li>
<li>Multiplication</li>
<li>Addition</li>
<li>Subtraction</li>
</ul>
    
**What is Python Expression?**

An expression is a combination of values, variables, operators, and function calls. Notably, the Python interpreter can evaluate a valid expression. Why don't we take an example?

In [145]:
4-3+20*4/5

-9.0

In [144]:
4+3-20/4*5

-18.0

$4+3$ is an expression with one operator. We can also put in more than one. The precedence rules show us the way to follow an order. The divisionn has a higher precedence than addition.

In [72]:
3+3/3

4.0

When we use parentheses, however, we can alter the order of execution here.

In [90]:
(3+3)/3

2.0

What we conclude here is that using parentheses, we can force the operators of lower precedence to run first. Or we can say that when two operators share an operand, the one with the higher precedence gets to go first.

In [147]:
((((13+5)*2)-4)/2)-13

3.0

How did that happen? Let’s work it out.

13+5 gives us 18

18*2 gives us 36

36-4 gives us 32

32/2 gives us 16.0 #Note that division gives us floats!

16-13 gives us 3.0

<h2> Python Decision Making Statements</h2>

Python decision making constructs include Python **if** statements, **if else** statements, **elif** statements, **nested if conditions** and **single statement conditions**. We will understand these with syntax and example to get a clear understanding.


Sometimes, in a program, we may want to make a decision based on a condition. We know that an expression’s value can be True or False. We may want to do something only when a certain condition is true. For example, assume variables a and b. If a is greater, then we want to print “a is greater”. Otherwise, we want to print “b is greater”. For this, we use an if-statement. Also, operators come in handy when you want to join conditions to make a composite one.

Let us see at various python decision making expressions in details with syntax and example. So let’s install python on Windows first and revise Python syntax for programming in Python.

<h3>Python if Statements</h3>

An if statement in python takes an expression with it. If the expression amounts to True, then the block of statements under it is executed. If it amounts to False, then the block is skipped and control transfers to the statements after the block. But remember to indent the statements in a block equally. This is because we don't use curly braces to delimit blocks. Also, use a colon(:) after the condition.

In [149]:
a=7
if a>6:
    print(f"{a} is good")
    print('7 is greater than 6')
print("Hello")

7 is good
7 is greater than 6

Here, since 7>6, the condition is true. So, it prints the given string.

In [89]:
if 0:
    print("yay")

We know, 1 has a Boolean value of True. So, the condition is true, and it prints 'yay'.

You can also write the condition in parentheses. It does not cause a syntax error.

In [150]:
if (1.0 is not 1):
    print("11")

11

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-150-177f1124aa38>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if (1.0 is not 1):

<h3>4. Python if-else Statements</h3>

What happens when the condition is untrue? We can mention that it in the block after the else statement. An else statement comes right after the block after 'if'.

In [158]:
if 2>1:
    print("2")
    print("2")
    print("2")
else:
    print("1")
    print("1")
    print("1")
    print("1")
print("Done")

2
2
2
Done

In [98]:
if 2>1:
    print("2")
else:
    print("1")

2

Pay attention to the indent. The else keyword does not appear in the if-block. Press Backspace to undo the automatic indent. Here, 2 is not less than 1. So, the statements in the else-block are executed. It prints 1.

In [99]:
if 2<1:
    print("2")
else:
    print("1")
else:
    print("Hey")

SyntaxError: invalid syntax (<ipython-input-99-528a5ecc2eb4>, line 5)

As appears in the above example, you cannot posit two else statements under an if. It causes a syntax error.

<h3>Chained Conditionals (elif ladder)</h3>

Python allows the elif keyword as a replacement to the else-if statements in Java or C++. When we have more than one condition to check, we can use it. If condition 1 isn't True, condition 2 is checked. If it isn't true, condition 3 is checked.

![chained conditions](images/Chained-Conditionals.jpg)

In [163]:
if 2<1:
     print("2")
elif 3>1 and 4>1:
    print("3")
    print("4")
else:
     print("1")
print("it's Done")

3
4
it's Done

As we saw, else if causes a syntax error. We must use elif. Here, 2 is not less than 1, so, the condition with elif is checked. Since it is true (1<3), it prints 1. Also, you can put an else statement after your elif statements if you want. Since in the last example, the first two conditions are false, the else is executed. So, it prints 1.

<h3>Nested if Statements in Python</h3>

You can put an if statement in the block under another if statement. This is to implement further checks.

In [103]:
a=1
b=3
if a==1:
    if b==2:
        print("a is 1 and b is 2")
    else:
        print(b,' is not 2')

3  is not 2

Here, a is 1. So, b is checked. Since it is 2, it prints the given string. Not every if block has to have statements though.

<h3>Single Statement Condition in Python</h3>

If you only need to write a single statement under if, you can write it in the same line using single statement python decision making constructs.

In [164]:
a=7
if a>4: print("Greater")

Greater

Here, we wrote it in one line, but it works without a problem.

In [3]:
print(3);print(5)

3
5

In [165]:
if a<4:
    print("Hi")
    print("it works")

In [166]:
if a>4:print("Hi"); print("it Works"); print("Hello")

Hi
it Works
Hello

You can also use semicolons to write more than one statement in the same line as the condition. However, this may affect the readability of your code.

In [175]:
x = int(input("Please enter a number"))
if x>0:
    print(x, "is positive")
elif x<0:
    print(x, " is negative")
else:
    print(x, "is zero")

Please enter a number90
90 is positive

In [170]:
int(x)

45

<h2>Python Looping</h2>

In this Python Loop Tutorial, we will learn about different types of Python Loop. Here, we will study Python **For** Loop, Python **While** Loop, Python **Loop Control Statements**, and **Nested For Loop** in Python with their subtypes, syntax, and examples.

In [34]:
L = [-3,5,46,90,23,45,90,-20,-3]


F=[]
for l in L:
    F.append(l*(9/5) +32)

In [35]:
F

[26.6, 41.0, 114.8, 194.0, 73.4, 113.0, 194.0, -4.0, 26.6]

When you want some statements to execute a hundred times, you don’t repeat them 100 times. Think of when you want to print numbers 1 to 99. Or that you want to say Hello to 99 friends. In such a case, you can use loops in python.

Here, we will discuss 4 types of Python Loop:
<ul>
    <li>Python For Loop</li>
    <li>Python While Loop</li>
    <li>Python Loop Control Statements</li>
    <li>Nested For Loop in Python</li>
</ul>

<h3>Python While Loop</h3>

A while loop in python iterates till its condition becomes False. In other words, it executes the statements under itself while the condition it takes is True.

When the program control reaches the while loop, the condition is checked. If the condition is true, the block of code under it is executed. Remember to indent all statements under the loop equally. After that, the condition is checked again. This continues until the condition becomes false. Then, the first statement, if any, after the loop is executed.

In [36]:
a=10
while(a>0):
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1

This loop prints numbers from 10 to 1. In Python, a-wouldn't work. We use a-=1 for the same.

**a. An Infinite Loop**

Be careful while using a while loop. Because if you forget to increment the counter variable in python, or write flawed logic, the condition may never become false. In such a case, the loop will run infinitely, and the conditions after the loop will starve. To stop execution, press Ctrl+C. However, an infinite loop may actually be useful.

**b. The else statement for while loop**

A while loop may have an else statement after it. When the condition becomes false, the block under the else statement is executed. However, it doesn't execute if you break out of the loop or if an exception is raised.

In [180]:
a=10
while(a>0):
    print(a)
    a-=1
else:
    print("Reached 0")

10
9
8
7
6
5
4
3
2
1
Reached 0

In the following code, we put a break statement in the body of the while loop for a==5. So, when that happens, the statement in the else block is not executed.

In [184]:
a=10
while(a>0):
    a-=1
    if a==5: continue;
    print(a)
    
else:
    print("Reached 0")

9
8
7
6
4
3
2
1
0
Reached 0

**c. Single Statement while**

Like an if statement, if we have only one statement in while's body, we can write it all in one line.

In [9]:
a=10
while a>0: print(a); a-=1;

10
9
8
7
6
5
4
3
2
1

### Gussing Game

In [1]:
eval("4**3-5")

59

In [1]:
from numpy import random

In [2]:
y = random.randint(1,100)
x =int(input("Please enter your guess"))
while x!=y:
    if x>y:
        x = int(input("Your number is big, please try a smaller number "))
    else:
        x = int(input("Your number is small, please try a bigger number "))
    
print("Congrats you found the number!")

Please enter your guess50
Your number is big, please try a smaller number 25
Your number is small, please try a bigger number 30
Congrats you found the number!

You can see that there were two statements in while's body, but we used semicolons to separate them. Without the second statement, it would form an infinite loop.

### Rock, Paper, Scissors Game

### Exercises

1. Make a two-player Rock-Paper-Scissors game. (Hint: Ask for player plays (using input), compare them, print out a message of congratulations to the winner, and ask if the players want to start a new game)

Remember the rules:
<ul>
    <li>Rock beats scissors</li>
    <li>Scissors beats paper</li>
    <li>Paper beats rock</li>
</ul>

2.

In [4]:
from numpy import random

In [3]:
l=["a","b","c","d"]

In [11]:
random.choice(l)

'b'

In [21]:
randint(3,7)

Hello

In [24]:
from random import randint

#create a list of play options
t = ["Rock", "Paper", "Scissors"]

#assign a random play to the computer
computer = t[randint(0,2)] # random.cho


Exit = "exit"
while Exit != "Exit":
#set player to True
    player = input("\nRock, Paper, Scissors? or Exit: ")
    Exit = player
    if player == computer:
        print("\nTie!")
    elif player == "Rock":
        if computer == "Paper":
            print("\nYou lose!", computer, "covers", player)
        else:
            print("\nYou win!", player, "smashes", computer)
    elif player == "Paper":
        if computer == "Scissors":
            print("\nYou lose!", computer, "cut", player)
        else:
            print("\nYou win!", player, "covers", computer)
    elif player == "Scissors":
        if computer == "Rock":
            print("\nYou lose...", computer, "smashes", player)
        else:
            print("\nYou win!", player, "cut", computer)
    elif Exit=="Exit":
        print("\n\nThanks for Playing!")
        print("Good Bye!")
    else:
        print("\n\nThat's not a valid play. Check your spelling!")
    #player was set to True, but we want it to be False so the loop continues
     
    computer = t[randint(0,2)]

Rock, Paper, Scissors? or Exit: Efjd


That's not a valid play. Check your spelling!

Rock, Paper, Scissors? or Exit: Paper

You win! Paper covers Rock

Rock, Paper, Scissors? or Exit: Exit


Thanks for Playing!
Good Bye!

<h3>Python For Loop</h3>
Python for loop can iterate over a sequence of items. The structure of a for loop in Python is different than that in C++ or Java. That is, 

```C++
for(int i=0;i<n;i++)
```
won't work here. In Python, we use the 'in' keyword. Lets see a Python for loop Example

In [25]:
range(2,10)

range(2, 10)

In [127]:
L = list(range(2,10))
L

[2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
for a in range(3):
    print(a)

0
1
2

If we wanted to print 1 to 3, we could write the following code.

In [26]:
for a in range(3):
    print(a+1)

1
2
3

In [27]:
for a in range(1,4):
    print(a)

1
2
3

In [31]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [28]:
range?

**a. The range() function**

This function yields a sequence of numbers. When called with one argument, say n, it creates a sequence of numbers from 0 to n-1.

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We use the list function to convert the range object into a list object.

Calling it with two arguments creates a sequence of numbers from the first to the second.

In [15]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

You can also pass three arguments. The third argument is the interval.

In [16]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

Remember, the interval can also be negative.

In [32]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

However, the following codes will return an empty list.

In [33]:
list(range(12,2))

[]

In [34]:
list(range(2,12,-2))

[]

**b. Iterating on lists or similar constructs**

You aren't bound to use the range() function, though. You can use the loop to iterate on a list or a similar construct.

In [134]:
for a in [1,2,3]:
    print(a)

1
2
3

In [19]:
for a in (1,2,3):
    print(a)

1
2
3

You can also iterate on a string.

In [42]:
s = 'wisdom at the source of blue nile'
n = len(s)
for i in range(0,n,2):
    print(s[i])

w
s
o

t
t
e
s
u
c

f
b
u

i
e

**c. Iterating on indices of a list or a similar construct**

The *len()* function returns the length of the list. When you apply the *range()* function on that, it returns the indices of the list on a range object. You can iterate on that.

In [37]:
Language=['Amharic','English','Arabic','swahili']
for i in Language:
    print(i)

Amharic
English
Arabic
swahili

In [40]:
for i in range(0,len(Language),2):
    print (Language[i])

Amharic
Arabic

**d. The else statement for for-loop**

Like a while loop, a for-loop may also have an else statement after it. When the loop is exhausted, the block under the else statement executes.

In [45]:
for i in range(10):
    print(i)
    if i==5:
        break
else:
     print("Reached else")

0
1
2
3
4
5

Like in the while loop, it doesn’t execute if you break out of the loop or if an exception is raised.

In [140]:
for i in range(10):
        print(i)
        if(i==7):
            break
else:print("Reached else")
    
print(" Out of the for loop")

0
1
2
3
4
5
6
7
 Out of the for loop

<h4> Nested for Loops Python</h4>

You can also nest a loop inside another. You can put a for loop inside a while, or a while inside a for, or a for inside a for, or a while inside a while. Or you can put a loop inside a loop inside a loop. You can go as far as you want.

In [48]:
for i in range(1,6):
    for j in range(i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [50]:
i=1
while i<6:
    j=0
    while j<=i-1:
        print("*",end=" ")
        j+=1
    print()
    i +=1

*
* *
* * *
* * * *
* * * * *

Let’s look at some nested while loops to print the same pattern.

In [51]:
i=6
while(i>0):
    j=6
    while(j>i):
        print("*",end=' ')
        j-=1
    i-=1
    print()

*
* *
* * *
* * * *
* * * * *

### Excercise 
1. Print out a dimond shape

Let's  define  diamonds  for  the  positive  odd integers,  where  the  integer  repesents  the  number  of  rows  and  the  number  of  stars  on  tin  the middle row. Here are diamonds of size 1, 3, 5 and 7:

In [62]:
h = int(input("please enter the height of the diamond"))

for i in range(h):
    print(" "*(h-i),"*"*(i*2 +1))
for i in range(h-2,-1,-1):
    print(" "*(h-i),"*"*(i*2 +1))

please enter the height of the diamond4
     *
    ***
   *****
  *******
   *****
    ***
     *

In [59]:
print(" 1"*3)

 1 1 1

In [5]:
h = eval(input("please enter diamond's height:  "))

for i in range(h):
    print(" "*(h-i), "*"*(i*2+1))
for i in range(h-2, -1, -1):
    print(" "*(h-i), "*"*(i*2+1))

please enter diamond's height:3
    *
   ***
  *****
   ***
    *

## Loop Control Statements in Python

Sometimes, you may want to break out of normal execution in a loop. For this, we have three keywords in Python- break, continue, and pass.

**a. break statement**

When you put a break statement in the body of a loop, the loop stops executing, and control shifts to the first statement outside it. You can put it in a for or while loop.

In [63]:
for j in range(3):
    print ("Iteration: ", j)
    for i in 'break':
        print(i)
        if i=='a': 
            break;

Iteration:  0
b
r
e
a
Iteration:  1
b
r
e
a
Iteration:  2
b
r
e
a

**b. continue statement**

When the program control reaches the continue statement, it skips the statements after ‘continue’. It then shifts to the next item in the sequence and executes the block of code for it. You can use it with both for and while loops.

In [65]:
i=0
while(i<8):
    i+=1
    if(i==4): 
        continue
    print(i)

1
2
3
5
6
7
8

If here, the iteration i+=1 succeeds the if condition, it prints to 5 and gets stuck in an infinite loop. You can break out of an infinite loop by pressing interrupt in the Kernel menu and if you are using the shell press Ctrl+C.

In [31]:
i=0
while(i<8):
    if(i==6): continue
    print(i)
    i+=1

0
1
2
3
4
5

KeyboardInterrupt:

**c. pass statement**

In Python, we use the pass statement to implement stubs. When we need a particular loop, class, or function in our program, but don't know what goes in it, we place the pass statement in it. It is a null statement. The interpreter does not ignore it, but it performs a no-operation (NOP).

In [66]:
for i in 'selfhelpytyty':
        pass
print(i)

p

In this tutorial on Python Loops, we learnt about while and for loops in Python. We also learnt how to nest loops, and use the range() function to iterate through a sequence of items. Lastly, we learnt about break, continue, and pass statements to control loops. So, try out your own combinations in the shell, and don’t forget to leave your feedback in the comments.

### Exercise

1. Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. (Hint: remember to use the user input lessons from the very first exercise)
Extras:
<ul>
    <li>Keep the game going until the user types "exit"</li>
    <li>Keep track of how many guesses the user has taken, and when the game ends, print this out.</li>
 </ul>

2. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).
3. Write a Python program to construct the following pattern, using a nested for loop.
    \begin{equation}
    \begin{aligned}
    & *\;\\
    & *\;* \\
    & *\; * \; \\
    & *\; *\; *  \\
    & *\; *\; *\; * \\
    & *\; *\; *\; *\; * \\
    & *\; *\; *\; * \\
    & *\; *\; * \\
    & *\; *\; \\
    & *\; \\
    \end{aligned}
    \end{equation}
4. Write a Python program that prints each item and its corresponding type from the following list. Sample List : 

datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, 1), [5, 12], {"class":'V', "section":'A'}]

In [67]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, 1), [5, 12], {"class":'V', "section":'A'}]

for d in datalist:
    print(d,"\t", type(d))

1452 	 <class 'int'>
11.23 	 <class 'float'>
(1+2j) 	 <class 'complex'>
True 	 <class 'bool'>
w3resource 	 <class 'str'>
(0, 1) 	 <class 'tuple'>
[5, 12] 	 <class 'list'>
{'class': 'V', 'section': 'A'} 	 <class 'dict'>

In [3]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [2]:
n=eval(input("Please Enter the height"))
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

Please Enter the height3

*
* *
* * *
* *
*

In [52]:
h=13
for i in range(h+6):
    if(i<h):
        print("  "*(h-i)," *"*(i*2 +1))
    elif i>=h and i<h+2:
        print("  "*3," *"*(2*h-5))
    else:
        k = int((2*h-8)/2)
        print("  "*3," *"*k,"  "*2," *"*k)

                            *
                          * * *
                        * * * * *
                      * * * * * * *
                    * * * * * * * * *
                  * * * * * * * * * * *
                * * * * * * * * * * * * *
              * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * *
      * * * * * * * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * * * * * * * * * * * * * *
        * * * * * * * * *       * * * * * * * * *
        * * * * * * * * *       * * * * * * * * *
        * * * * * * * * *       * * * * * * * * *
        * * * * * * * * *       * * * * * * * * *

<h2> Python Function </h2>

Now, we forward to deeper parts of the language, let’s read about Python Function. Moreover, we will study the different types of functions in Python: Python built-in functions, Python recursion function, Python lambda function, and Python user-defined functions with their syntax and examples.

So, let’s start the Python Function Tutorial.

Python function in any programming language is a sequence of statements in a certain order, given a name. When called, those statements are executed. So we don't have to write the code again and again for each [type of] data that we want to apply it to. This is called code re-usability.

<h3> User Defined Fucntions</h3>

For simplicity purposes, we will divide this lesson into two parts. First, we will talk about user-defined functions in Python. Python lets us group a sequence of statements into a single entity, called a function. A Python function may or may not have a name. We'll look at functions without a name later in this tutorial.

**a. Advantages of User-defined Functions in Python**
<ol>
    <li>This Python Function help divide a program into modules. This makes the code easier to manage, debug, and scale.</li>
    <li>It implements code reuse. Every time you need to execute a sequence of statements, all you need to do is to call the function.</li>
    <li>This Python Function allow us to change functionality easily, and different programmers can work on different functions.</li>
</ol>

**b. Defining a Function in Python**

To define your own Python function, you use the **'def'** keyword before its name. And its name is to be followed by parentheses, before a colon(:).

In [55]:
def hello():
    '''
    This function is a greeting function that prints hello the screen
    '''
    print("Hello")

In [54]:
hello() # function call

Hello

In [56]:
hello.__doc__

'\n    This function is a greeting function that prints hello the screen\n    '

The contents inside the body of the function must be equally indented.

As we had discussed on Python syntax, you may use a **docstring** right under the first line of a function declaration. This is a documentation string, and it explains what the function does.

In [33]:
f(2)

4

In [32]:
def f(x):
    return x**2

In [28]:
def Hello():
    """
    This Python function simply prints hello to the screen
    """
    print("Hello world")

In [30]:
Hello()

Hello world

In [21]:
hello.__doc__

'\n    This Python function simply prints hello to the screen\n    '

You can access this docstring using the __doc__ attribute of the function.

In [40]:
def func1():
    """
    This is the docstring
    """
    print("Hello")

In [41]:
func1.__doc__

'\n    This is the docstring\n    '

If you don't yet know what to put in the function, then you should put the pass statement in its body. If you leave its body empty, you get an error "Expected an indented block".

In [57]:
def hello1():
    pass

**c. Rules for naming python function (identifier)**

We follow the same rules when naming a function as we do when naming a variable.
<ol>
    <li>It can begin with either of the following: A-Z, a-z, and underscore(_).</li>
    <li>The rest of it can contain either of the following: A-Z, a-z, digits(0-9), and underscore(_).</li>
    <li>A reserved keyword may not be chosen as an identifier.</li>
</ol>
It is good practice to name a Python function according to what it does.

**d. Python Function Parameters**

Sometimes, you may want a function to operate on some variables, and produce a result. Such a function may take any number of parameters. Let's take a function to add two numbers.

In [60]:
def sum1(a,b):
    y=f"{a}+{b}={a+b}"
    print(y)
    #return y

In [61]:
sum1(5,4)

5+4=9

In [63]:
def sum(a,b):
    y = a+b
    return y

In [64]:
r = sum(6,2)
r

8

Here, the function sum() takes two parameters- a and b. When we call the function, we pass numbers 2 and 3. These are the arguments that fit a and b respectively. We will describe calling a function in point f. A function in Python may contain any number of parameters, or none.

<font size=4 color=red> Wait a minute, what have we just done?</font>. 'sum' is a built in function.

In [65]:
l=[2,3,4,5]
sum(l)

TypeError: sum() missing 1 required positional argument: 'b'

In [68]:
del sum

NameError: name 'sum' is not defined

In [69]:
sum(l)

14

In the next example, we try adding an int and a float.

In [70]:
def sum2(a,b):
    print(f"{a}+{b}={a+b}")
sum2(3.0,2)

3.0+2=5.0

However, you can't add incompatible types.

In [73]:
sum2('Hello',"world")

Hello+world=Helloworld

**e. Python return statement**

A Python function may optionally return a value. This value can be a result that it produced on its execution. Or it can be something you specify- an expression or a value.

In [86]:
def func1(a):
    if a>=0:
        return 0
    
    print("Hello")
x =func1(5)

In [87]:
x

0

In [88]:
x**3 +3

3

As soon as a return statement is reached in a function, the function stops executing. Then, the next statement after the function call is executed. Let's try returning an expression.

In [89]:
def Sum(a,b):
    c = a+b
    return c

In [90]:
x =Sum(8,4)
print(x)

12

**f. Calling a Python function**

To call a Python function at a place in your code, you simply need to name it, and pass arguments, if any. Let’s call the function hello() that we defined in section b.

In [92]:
def f(x,y,z=-3):
    u = x**2 +y**2 +z**2
    return(u)

In [94]:
f(1,1,0)

2

**g. Scope and Lifetime of Variables in Python**

A variable isn't visible everywhere and alive every time. We study this in functions because the scope and lifetime for a variable depend on whether it is inside a function.

**1. Scope**

A variable’s scope tells us where in the program it is visible. A variable may have local or global scope.

  **Local Scope-** A variable that’s declared inside a function has a local scope. In other words, it is local to that function.

In [119]:
x = 12

In [122]:
def func3():
    x +=1 # x = x+1
    print(x)

In [123]:
func3()

UnboundLocalError: local variable 'x' referenced before assignment

In [118]:
x

12

If you then try to access the variable x outside the function, you cannot.

In [10]:
x

12

 **Global Scope-** When you declare a variable outside python function, or anything else, it has global scope. It means that it is visible everywhere within the program.

In [13]:
y=7
def func4():
    print(y)
func4()

7

However, you can't change its value from inside a local scope(here, inside a function). To do so, you must declare it global inside the function, using the 'global' keyword.

In [14]:
y=7
def func4():
    global y
    y+=1
    print(y)
func4()

8

In [15]:
y

8

As you can see, y has been changed to 8.

**2. Lifetime**

A variable's lifetime is the period of time for which it resides in the memory.

A variable that's declared inside python function is destroyed after the function stops executing. So the next time the function is called, it does not remember the previous value of that variable.

In [21]:
def func1(counter=1):
    
    counter+=1
    print(counter)
func1()

2

In [23]:
func1()

2

As you can see here, the function func1() doesn't print 2 the second time.

**h. Deleting Python function**

Till now, we have seen how to delete a variable. Similarly, you can delete a function with the ‘del’ keyword.

In [71]:
def func7():
    print("7")
func7()

7

In [72]:
del func7
func7()

NameError: name 'func7' is not defined

When deleting a function, you don’t need to put parentheses after its name.

<h3>Python Built-in Functions</h3>

In various previous lessons, we have seen a range of built-in functions by Python. This Python function apply on constructs like int, float, bin, hex, string, list, tuple, set, dictionary, and so. Refer to those lessons to revise them all.

<h3>Python Lambda Expressions</h3>

As we said earlier, a function doesn't need to have a name. A lambda expression in Python allows us to create anonymous python function, and we use the 'lambda' keyword for it. The following is the syntax for a lambda expression.

```python
lambda arguments:expression
```

It’s worth noting that it can have any number of arguments, but only one expression. It evaluates the value of that expression, and returns the result. Let’s take an example.

In [124]:
def f(x):
    return x**2

In [105]:
f(4)

16

In [127]:
g = lambda x: x**2

In [128]:
g(4)

16

In [129]:
myvar=lambda a,b:(a*b)+2

In [130]:
myvar(2,3)

8

This code takes the numbers *2* and *3* as arguments $a$ and b respectively, and puts them in the expression $(a*b)+2$. This makes it $(2*3)+2$, which is $8$. Finally, it returns $8$.

Actually, the function object is assigned to the identifier myvar.

Lambda functions can be used along with built-in functions like **filter()**, **map()** and **reduce()**.

**Use of lambda() with filter()**

The filter() function in Python takes in a function and a list as arguments. This offers an elegant way to filter out all the elements of a sequence "sequence", for which the function returns True. Here is a small program that returns the odd numbers from an input list:

In [24]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(filter(lambda x: (x%2 != 0) , li)) 
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

**Use of lambda() with map()**

The map() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new list is returned which contains all the lambda modified items returned by that function for each item. Example:

In [131]:
L=[3,7,-3,8]

List = list(map(lambda x:5/9*x +32, L))
List

[33.666666666666664, 35.888888888888886, 30.333333333333332, 36.44444444444444]

In [132]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
final_list = list(map(lambda x: x*2 , li)) 
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

**Use of lambda() with reduce()**

The reduce() function in Python takes in a function and a list as argument. The function is called with a lambda function and a list and a new reduced result is returned. This performs a repetitive operation over the pairs of the list. This is a part of functools module. Example:

In [134]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
s = reduce((lambda x, y: x * y), li) 
print (s)

40000000

Here the results of previous two elements are added to the next element and this goes on till the end of the list like $(((((5+8)+10)+20)+50)+100).$

<h3>Python Recursion Function</h3>

A very interesting concept in any field, recursion is using something to define itself. In other words, it is something calling itself. In Python function, recursion is when a function calls itself. To see how this could be useful, let’s try calculating the factorial of a number. Mathematically, a number’s factorial is:

```python
n!=n*n-1*n-2*...*2*1
```

To code this, we type the following.

In [135]:
def facto(n):
    if n==1:
        return(1)
    return n*facto(n-1)

In [119]:
facto(5)

120

In [123]:
import numpy as np
import math as m

In [124]:
m.factorial(5)

120

It is important to revise in order to retain information. In this lesson, we learned about the Python function. First, we saw the advantages of a user-defined function in Python. Now we can create, update, and delete a function. And we know that a function may take arguments and may return a value. We also looked at the scope and lifetime of a variable. Hope you like the Python Function Tutorial.

Don’t forget to revise the various built-in functions supported by Python.

### Excercises

<h4>1. Reverse a given number and return true if it is the same as the original number</h4>

Example: original number 121

The original and reverse number is the same: True

original number 125

The original and reverse number is the same: False

<h4> 2. Write a function that returns the maximum of two numbers.</h4>

<h4> 3. Write a function called fizz_buzz that takes a number.</h4>

If the number is divisible by 3, it should return "Fizz".

If it is divisible by 5, it should return "Buzz".

If it is divisible by both 3 and 5, it should return "FizzBuzz".

Otherwise, it should return the same number.

<h4> 4.</h4> Write a function for checking the speed of drivers. This function should have one parameter: speed.
    If speed is less than 70, it should print “Ok”.
    Otherwise, for every 5km above the speed limit (70), it should give the driver one demerit point and print the total number of demerit points. For example, if the speed is 80, it should print: “Points: 2”.
    If the driver gets more than 12 points, the function should print: “License suspended”

In [147]:
import numpy as np
def check_speed(speed):
    point = (speed-70)/5
    if(speed<=70):
        print("Ok")
    elif point>12:
        print("License suspended")
    else:
        print("Points: ", np.ceil(point))

In [158]:
check_speed(151)

License suspended

In [146]:
np.ceil(x)

3.0

<h4>5.</h4> Write a function called showNumbers that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. For example, if the limit is 3, it should print:

    0 EVEN
    
    1 ODD
    
    2 EVEN
    
    3 ODD

In [141]:
def shownumbers(lim):
    for i in range(lim+1):
        if(i%2==0):
            print(i," EVEN")
        else:
            print(i," ODD")

In [143]:
shownumbers(5)

0  EVEN
1  ODD
2  EVEN
3  ODD
4  EVEN
5  ODD

<h4> 6.</h4>Write a function that computes the square of the numbers form 0 to lim and returns them as a list

In [135]:
s = input("Please enter your number ")

x=""
for i in range(len(s),0,-1):
    x = x+s[i-1]
if x==s:
    print("True", x)
else:
    print("False", x)

Please enter your number 232
True 232

In [139]:
def reverse():
    x = int(input("Eneter anumber "))
    x1=x
    r=0
    y=0
    while x1>0:
        r = x1%10
        x1 =x1//10  #x1 //=10
        y = y*10 + r
    if x==y:
        print("True ", y)
    else:
        print("False", y)

In [140]:
reverse()

Eneter anumber 34563
False 36543

<h2> Python Modules </h2>
Before we jump into the scientific computing ecosystem, first let's discuss what modules are in python.

A module allows you to logically organize your Python code. Grouping related code into a module makes the code easier to understand and use. A module is a Python object with arbitrarily named attributes that you can bind and reference.

Simply, a module is a file consisting of Python code. A module can define functions, classes and variables. A module can also include runnable code.

There are actually three different ways to define a module in Python:
<ol>
    <li>A module can be written in Python itself.</li>
    <li>A module can be written in C and loaded dynamically at run-time, like the re (regular expression) module.</li>
    <li>A built-in module is intrinsically contained in the interpreter, like the itertools module.</li>
</ol>
A module's contents are accessed the same way in all three cases: with the *import statement*.

Here, the focus will mostly be on modules that are written in Python. The cool thing about modules written in Python is that they are exceedingly straightforward to build. All you need to do is create a file that contains legitimate Python code and then give the file a name with a .py extension. That’s it! No special syntax or voodoo is necessary.

For example, suppose you have created a file called **arithmetic_operations.py** which defines the four arithmetic operations.

Now, if I want to use the arithmetic_operations module first I must import it using the import statement.

<h3> The import Statement </h3>

Module contents are made available to the caller with the import statement. The import statement takes many different forms, shown below.
```python
    import <module_name>
```

Note that this does not make the module contents directly accessible to the caller. Each module has its own private symbol table, which serves as the global symbol table for all objects defined in the module. Thus, a module creates a separate namespace, as already noted.

The statement import <module_name> only places <module_name> in the caller’s symbol table. The objects that are defined in the module remain in the module’s private symbol table.

From the caller, objects in the module are only accessible when prefixed with <module_name> via **dot notation**, as illustrated below.

After the following import statement, arithmetic_operations is placed into the local symbol table. Thus, arithmetic_operations has meaning in the caller’s local context:

In [1]:
import arithmetic_operations 

arithmetic_operations

But add and the other functions defined inside the module remain in the module’s private symbol table and are not meaningful in the local context:

In [2]:
arithmetic_operations.add(3,4)

7

In [3]:
arithmetic_operations.subtract(9,20)

-11

To be accessed in the local context, names of objects defined in the module must be prefixed by arithmetic:

In [4]:
arithmetic_operations.add?

Several comma-separated modules may be specified in a single import statement:
```python
import <module_name>[, <module_name> ...]
```

<h3> from   module_name  import name(s) </h3>

An alternate form of the import statement allows individual objects from the module to be imported directly into the caller's symbol table:    

```python
from <module_name> import <name(s)>
```

Following execution of the above statement, <name(s)> can be referenced in the caller's environment without the <module_name> prefix:

In [6]:
from arithmetic_operations import add, subtract, divide

In [7]:
subtract(4,9)

-5

In [8]:
3/0

ZeroDivisionError: division by zero

In [9]:
divide(3,0)

'division by zero is not allowed'

It is even possible to indiscriminately *import* everything from a module at one fell swoop:
```python
from <module_name> import *
```

This will place the names of all objects from <module_name> into the local symbol table, with the exception of any that begin with the underscore (_) character.

In [10]:
from arithmetic_operations import *

In [11]:
multiply(3,4)

12

In [12]:
from math import pi

In [13]:
2*pi

6.283185307179586

In [14]:
from numpy import pi

In [15]:
2*pi

6.283185307179586

This isn't necessarily recommended in large-scale production code. It's a bit dangerous because you are entering names into the local symbol table en masse. Unless you know them all well and can be confident there won't be a conflict, you have a decent chance of overwriting an existing name inadvertently. However, this syntax is quite handy when you are just mucking around with the interactive interpreter, for testing or discovery purposes, because it quickly gives you access to everything a module has to offer without a lot of typing.

<h3> Python module aliasing</h3>

In short it means that

```python
import a_ridiculously_long_module_name as short_name
```

In [16]:
import arithmetic_operations as ao

In [18]:
ao.add(3,4)

7

In [19]:
ao.divide(9,3)

3.0